# Firebase & Secrets
serviceAccountKey.json
*.backup_*
firebase_options.dart
.env

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# OS/IDEs
.DS_Store
.idea/
.vscode/
node_modules/
cabal_all_code.txt
*.deb
config.env
.env
